extends layout

block title
  title PA Robotics | Join Us
  
block vars
  -short = true;
  -backgroundImage = "team.JPG";

block header
  h1 Join our Program! 
  p Competitive robotics is a great opportunity to try out engineering, programming, and designing.

block content
  #join.box
    p Interested in joining our program? Even if you have very little experience with STEM or robotics,  <strong>you can join us as long as you are passionate and work hard</strong>. Given that we are a competitive program, there aren't always opportunities to work on the main robots, but everybody is given a chance to share their ideas, work on prototypes, and do other work like photography, videography, web development, and graphic design. Also, we try to let <strong>everybody</strong> go to competitions and get a taste of VEX.
      br
      br
      | We meet (mostly) every Friday night at 6pm in the Robotics Room (3rd floor of the library) during the school year. If you want to join our program, either show up then or shoot <a href = "mailto:jshen@andover.edu" >Jeffrey Shen</a> an email to be added to the mailing list. 
    br
    br
    a.button.button-filled(href = "mailto:jshen@andover.edu") JOIN OUR PROGRAM
