nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 60;
  box-sizing: border-box;
  padding: 15px;

  a{
    margin-left: 12px;
    color: $white;
    &:hover{
      color: $gray;
    }
    display: inline-block;
  }
  .right{
    text-align: right;
  }
}
