header{
  height: 75vh;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background-image: url("/Assets/Graphics/cover.JPG");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $dark-blue;
    opacity: 0.5;
    z-index: 45;
  }
  .text{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 120px 60px;
    z-index: 50;
  }
  h1{
    color: $white;
    margin-bottom: 10px;
  }
  p{
    color: $gray;
  }
}

header.short{
  background: $dark-blue;
  height: 50vh;
  .text{
    padding: 80px 60px;
  }
  /*.overlay{
    display: none;
  }*/
}

@media screen and (max-width: 450px){
  header.short{
    height: 60vh;
    .text{

    }
  }
}
