extends layout

block title
  title PA Robotics | Awards
  
block vars
  -short = true;
  -backgroundImage = "awards.jpg"

block header
  h1 Awards
  p Since being founded in 2015, we've been quite successful at competitions. 
    strong Our team numbers are 8900, 8900A, and 8900B
    | .

block content
  .box#awards
    p#showByYear Show awards from a year:&nbsp;
      a(href = "#2015to2016") 2015 - 2016
      | &nbsp;|&nbsp;
      a(href = "#2016to2017") 2016 - 2017
      | &nbsp;|&nbsp;
      a(href = "#2017to2018") 2017 - 2018
    h3#2015to2016 2015 - 2016 Season (Nothing but Net)
    .text
      a(href = "http://challenges.robotevents.com/challenge/54/entry/2668") Promote Award (3rd place in the world)
      br
      br
      i 
        a(href = "https://www.robotevents.com/robot-competitions/vex-robotics-competition/RE-VRC-15-2952.html") Trinity High School Granite State VRC Tournament 
        | 10/31/15
      ul 
        li Tournament Champion (8900)
        li Design Award (8900)
      i 
        a(href = "https://www.robotevents.com/robot-competitions/vex-robotics-competition/RE-VRC-15-3445.html") Nothing But Net Tournament - High School Division 
        | 12/1/15
      ul 
        li Tournament Champion (8900)
        li Excellence Award (8900)
        li Design Award (8900)
      i 
        a(href = "https://www.robotevents.com/robot-competitions/vex-robotics-competition/RE-VRC-16-3358.html  ") North Andover High School VEX Competition
        | 1/16/16
      ul 
        li Tournament Champion (8900)
        li Excellence Award (8900)
      i 
        a(href = "https://www.robotevents.com/robot-competitions/vex-robotics-competition/RE-VRC-16-3448.html") Nothing But Net Qualifying Tournament (High School) 
        | 2/13/16
      ul 
        li Design Award (8900)
        li Tournament Semifinalists (8900, 8900B)
      i 
        a(href = "https://www.robotevents.com/robot-competitions/vex-robotics-competition/RE-VRC-16-4227.html") Southern New England Nothing But Net Championship (States) 
        | 3/5/16 - 3/6/16
      ul 
        li 2nd Place Driving Skills (8900)
        li 2nd Place Programming Skills (8900)        
    hr
    h3#2016to2017 2016 - 2017 Season (Starstruck)
    .text
      i 
        a(href = "https://www.robotevents.com/robot-competitions/vex-robotics-competition/RE-VRC-16-5084.html") North Andover High School 
        | 11/18/16
      ul 
        li Tournament Finalists (8900, 8900B)
      i 
        a(href = "https://www.robotevents.com/robot-competitions/vex-robotics-competition/RE-VRC-16-1658.html") February in Worcester at QCC 
        | 2/4/17
      ul 
        li Robot Skills Champion (8900)  
      i 
        a(href = "https://www.robotevents.com/robot-competitions/vex-robotics-competition/RE-VRC-16-1659.html") Southern New England Championships (States) 
        | 3/4/17 - 3/5/17
      ul 
        li Robot Skills Champion (8900)  
    hr
    h3#2017to2018 2017 - 2018 Season (In the Zone)
    .text
      i 
        a(href = "https://www.robotevents.com/robot-competitions/vex-robotics-competition/RE-VRC-17-3039.html") North Andover High School 
        | 11/18/17
      ul 
        li Tournament Finalists (8900A)
        li Excellence Award (8900A)
      i 
        a(href = "https://www.robotevents.com/robot-competitions/vex-robotics-competition/RE-VRC-17-3042.html") North Andover High School 
        | 1/27/18
      ul 
        li Tournament Champion (8900B)
