extends layout

block title
  title PA Robotics | Sponsor Us
  
block vars
  -short = true;

block header
  h1 Sponsor Us
  a.button(href = "#sponsors") OUR SPONSORS
  a.button.button-filled(href = "#sponsorus") WHY YOU SHOULD SPONSOR US

block content
  .box#sponsors
    h3 Our Sponsors
    p Thank you so much to all of our sponsors, who continue to make our program possible.
    br
    br
    img(src = "Assets/Graphics/abbotacademy.jpg" alt = "Abbot Academy Association" title = "Abbot Academy Association")
    img(src = "Assets/Graphics/thenest.jpg" alt = "Phillips Academy's Makerspace" title = "Phillips Academy's Makerspace")
  hr
  .box#sponsorus
    h3 Why You Should Sponsor Us
    p <i>Robotics is expensive</i>. As a program that has two teams competing annually in the VEX Robotics competition, there are many costs to consider: purchasing parts, transportation, and registering for tournaments. <i>We want robotics to be available to all students at Phillips Academy</i>, regardless of their ability to shoulder these expenses. That's why we need sponsors: <i>YOUR</i>  funding helps us continue to grow our program and allows us to support an increasingly larger team. You are supporting an inclusive, diverse, and successful robotics program (read more about our program <a href = "/#about">here</a>), and by extension are supporting a program that teaches not only technical skills, but leadership and teamwork skills.
      br 
      br
      | <strong>As a sponsor</strong>, you will: 
    ul
      li Receive attribution and thanks on our website as well as on t-shirts and other apparel.
      li Huge brownie points! Thanks so much for supporting and believing in a group of high school engineers, designers, and programmers!
    p 
      br
      br
      | Some <strong>FAQs</strong> about sponsorships: 
    ul
      li <i>How do I actually sponsor you? </i> Reach out to <a href = "mailto:jshen@andover.edu">jshen@andover.edu</a> to begin negotiating a sponsorship. We can work out payments and specific forms of sponsorships there, as it is rather context dependent.
      li <i>How much funding do you need / What forms of sponsorships are you looking for? </i> In short: Anything helps. To sustain the program, we spend about $3000 a year on parts, competition registration, and transporation costs, so any amount is helpful and appreciated. If there are other ways you or your company can help sponsor us, such as by providing specific products, that would also be greatly appreciated.
